navbar {
  position: fixed;
  top: 0;
  text-transform: uppercase;
  font-family: Courier;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffcfc9;
  }
li {
  float: left;
  }
li a  {
  display: block;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  }
li a:hover {
  color: white;
  background-color: #000;
  }
