body {
  background-color: #d8f781;
  margin: 0;
  font-family: courier;
}

img {
  max-width: 100%;
  height: auto;
}

ul.topnav {
  position: fixed;
  top: 0;
  text-transform: uppercase;
  font-family: Courier;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffcfc9;
  width: 100%;
  }
ul.topnav li {
  float: left;
  }
ul.topnav li a  {
  display: block;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  }
ul.topnav li a:hover {
  color: white;
  background-color: #000;
  }
